apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-openshift
  namespace: argocd-tutorial
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hello-openshift
  template:
    metadata:
      labels:
        app: hello-openshift
    spec:
      containers:
      - name: hello-openshift
        image: fspiess31/hello-openshift:1.0.0
        ports:
        - containerPort: 8080

